<div class="container">
  <h1>Ideas <small><%= link_to 'New Idea', new_idea_path %></small></h1>
  
  <br>
  <div class="sort-bar">
    <div class="row">

      <div class="col-sm-8">
        <h4> Ideas | Sorted by <%= cookies[:sort_ideas] %> </h4>
      </div>

      <div class="col-sm-4">
        <h4>
          <%= link_to "Rank", sort_ideas_path("Rank") %> |
          <%= link_to "Last", sort_ideas_path("Last") %> |
          <%= link_to "Random", sort_ideas_path("Random") %>
        </h4>
      </div>

    </div>
  </div>
  <br>

  <% if cookies[:sort_ideas] == "Rank" %>
    <% @ideas = @ideas.order({votes_amount: :desc}, :title) %>
  <% elsif cookies[:sort_ideas] == "Last" %>
    <% @ideas = @ideas.order({created_at: :desc}, :title) %>
  <% elsif cookies[:sort_ideas] == "Random" %>
    <% @ideas = @ideas.shuffle %>
  <% end %>

  <%= render @ideas %>
  
</div>
