<div class= "container">
  <h1><%= @idea.title %><small>- By <%= link_to @idea.user.pseudo, profile_path(@idea.user.id) %></h1>
  <br>
  <h4><%= @idea.description %><h4>
  <br>
  <h4><span class="margin"><%= @idea.content %></span><h4>
  <br>
  <h4> <%= @idea.votes_amount %> votes </h4>
  <% if current_user.can_vote? @idea %>
    <%= link_to "Vote!", vote_path(@idea.id)%>
  <% else %>
    <% if current_user.available_votes > 0 %>
      <p> Voted! <p>
    <% else %>
      <p> You can't vote anymore <p>
    <% end %>
  <% end %>

  <hr>
  <!-- Comments -->
  <div class="comments">
    <!-- Display -->
    <h2><strong> Comments </strong><small>&nbsp; &nbsp; <%= @comments.count %> &nbsp;comments</h2>
    <%= render 'comments/comment'%>

    <br>
    <!-- Create -->
    <div class="comment-form">

       <%= render 'comments/form', comment: Comment.new %>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
