<div class="container">
  <div class="row">

    <div class="col-sm-2">
      <h1><i class="fa fa-envelope" aria-hidden="true"></i> Mails <span class="badge"><%= Contact.where("state = 'new'").count %></span></h1>
      <div class="container">
      <p>Sorted by <%= cookies[:sort_contacts]%></p><hr>
        <h3>Sort by:</h3>
          <h4><%= link_to "Last", sort_contacts_path("Last") %></h4>
          <h4><%= link_to "First", sort_contacts_path("First") %></h4>
          <h4><%= link_to "Random", sort_contacts_path("Random") %></h4>
        <h3>Filter:</h3>
          <h4><%= link_to "New", sort_contacts_path("New") %></h4>
          <h4><%= link_to "Seen", sort_contacts_path("Seen") %></h4>
          <h4><%= link_to "Favorite", sort_contacts_path("Fav") %></h4>

          <div class="dropdown" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Label
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% Contact.labels_kind.each do |label|%>
                <li> <%= link_to "#{label.capitalize}", sort_contacts_path(label) %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="mail-tab">
        <table class="table">
          <thead>
            <tr>
              <th>Sender</th>
              <th>Object</th>
              <th>Date</th>
              <th>Label</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="draw-mail">
            <%= render @contacts %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


