<% @news.each do |news|%>
<div class="news" onmouseover="show(<%= news.id %>)" onmouseout="hide(<%= news.id %>)">
    <div id="s-btn-<%= news.id %>" class="side-buttons" style="display:none">
        <%= link_to_with_icon("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>", edit_article_path(news.id))%>
        <%= button_delete_with_icon("<i class='fa fa-trash-o' aria-hidden='true'></i>", news, method: :delete, data: { confirm: 'Are you sure?' })%>
    </div>
    <div class="row">

        <div class="col-sm-10">
            <small><%= news.created_at.strftime("On %A %B %Y at %H:%M")%></small>
        </div>

        <div class="col-sm-2">
            <div class="label-article-<%= news.label %>"><%= news.label.capitalize %></div>
        </div>

    </div>
    
    <div class="content-news">
        <%= news.content.html_safe %>
    </div>
</div>
<br>
<% end %>

<% if current_user.can? "write_articles" %>
    <script>
        function show(news_id){
            var sbtn = document.getElementById('s-btn-' + news_id);
            sbtn.style.display = 'block';
        }

        function hide(news_id){
            var sbtn = document.getElementById('s-btn-' + news_id);
            sbtn.style.display = 'none';
        }
    </script>
<% end %>