
<div class= "row">

  <div class= "col-md-2"></div>

  <div class= "col-md-7">
  <% if current_user.has_no_post? %>
    <h1> Welcome on V0.USers <%= current_user.pseudo %>! </h1>
    <p><span class"margin">You can add an idea <%= link_to "here", users_new_idea_path(current_user.id) %>. </span></p>
  <% else %>
    <h1> Welcome back <%= current_user.pseudo %>! </h1>
    <br>
    <h2>News</h2>
  <% end %>
  </div>

  <div class= "col-md-3">
    <!-- sidebar -->
    <div class= "sidebar">
      <!-- Members -->
      <h2>Members</h2>
      <hr>
      <% @users.each do |user| %>
        <div class="user-bloc-mini">
          <h3>
            <img src=<%= user.picture.url %> >
            <%= link_to user.pseudo, profile_path(user.id) %>
             <small>- <%= user.role %></small>
          </h3>
        </div>
      <% end %>
    </div>

    <br>

    <div class= "sidebar">
      <!-- Last Comments -->
      <h2> Last Posts
        <%= content_tag :button, type: "button", class: "post-btn" do
          link_to "Post Idea", users_new_idea_path(current_user.id)
        end %>
      </h2>
      <hr>

      <%= render @ideas.limit 5 %>
      
      <% if Idea.count > 5 %>
        <p> <%= Idea.count - 5 %> other posts
      <% end %>


    </div>
  </div>

</div>

