<%= form_for(label) do |f| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">

      <div class="field">
        <h2> <%= f.label "Name" %></h2>
        <%= f.text_field :name, maxlength: 32 %>
      </div>

      <div class="field">
        <h2> <%= f.label "Details" %></h2>
        <%= f.text_area :details, maxlength: 100 %>
      </div>

      <div class="col-sm-6">
          <%= f.text_field :color, as: :minicolors %>
      </div>

    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
   $('#label_color').minicolors;
</script>
