<!DOCTYPE html>
<html>
  <head>
    <title>V0Users</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  </head>

  <body class= <%= "#{controller.controller_name}" %>>
  
    <header class="header">
      <div class="row">

        <div class="col-sm-1">
          <!-- Logo -->
        </div> 

        <div class="col-sm-4">
          <h4><%= User.count %> users suscribed / <%= Idea.count %> ideas submited </h4>
        </div>  

        <div class="col-sm-4">
          <label for="game-select">Actual game : </label>
          <!-- Choose Game Dropdown -->
          <div class="dropdown" id="game-select" style="display: inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= @game.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% Game.all.each do |game|%>
                <li> <%= link_to game.name, switch_game_path(game.id) %> </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-sm-3">
          <% if user_signed_in? %>
            <div class="row">
              <div class="col-sm-4">
              <!-- Profile Notifications -->
                <div class= "notif-display">
                  <button id="dnotif" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span><span class="badge"><%= current_user.notif_count(current_user.id) %></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dnotif">
                    <% @notifs = Notif.where(user_id: current_user.id) #pas très propre => à revoir %>
                    <% @notifs = @notifs.order(:seen, {created_at: :desc})%>
                    <%= render @notifs.limit 5 %>
                  </ul>
                </div>
              </div>

              <div class="col-sm-8">
            <!-- Profile dropdown -->
                <div class="dropdown">
                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src=<%= current_user.picture.url %> class="avatar-mini" > | <strong><%= current_user.pseudo %></strong>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>  </li>      
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                  </ul>
                </div>
              <% else %>

                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
            </div>
          </div>
        </div> 

      </div>
    </header>

    <br><br>

    <%= image_tag("#{@game.name}-illu.jpg", class:"illu")%>

    <div class= "navbar">
      <div class="container">
        <div class="row">

          <div class="col-sm-10">
            <h4>
              <%= link_to 'Home', root_path %>
              <%= link_to 'Ideas', ideas_path %>

            <!-- Affichage Navigation temporaire -->   
              <a> Download </a>
              <a> ADN </a>

              <% if user_signed_in? %>
                <%= link_to "Mails <span class='badge'>#{Contact.where('state = "new"').count}</span>".html_safe, contacts_path if current_user.can? ("read_mails") %>
              <% end %>
            </h4>
          </div>

          <!-- Contact Button -->
          <div class="col-sm-2">
            <!-- Button trigger modal -->
            <% if user_signed_in? %>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Contact
              </button>
              <%= render "home/modal" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <footer>
      Copyrights Donovan Persent 2017
    </footer>

<!-- SCRIPTS -->
    <script type="text/javascript">
      //CK editor
      $(document).ready(function() {
          if ($('cktextarea').length > 0) {
              var data = $('cktextarea');
              $.each(data, function(i) {
                  CKEDITOR.replace(data[i].id);
              });
          }
      });

      //Contact modal
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
      
    </script>


  </body>

</html>
