<div class="container">

  <div class="row">
   <div class="col-sm-10">
    <h1><%= @user.pseudo %></h1>
    <br>
   </div>
   
   <div class="col-sm-2">
   <!-- Change User Role -->
      <% if current_user.role == "Admin" %>
        <div class="dropdown" >
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Change Role
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% User.role_kind.each do |role|%>
              <li> <%= link_to "#{role}", {controller: :users, action: :modif_role, id: @user.id, role: role} %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h4> <%= @user.available_votes %>available votes </h4>
      <%= content_tag :button, type: "button", class: "post-btn" do
        link_to "Post Idea", users_new_idea_path(current_user.id)
      end %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    </div>

  </div>
<div>

